@model IEnumerable<HW_26.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Главная</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="navbar navbar-inverse bg-inverse" role="navigation">
        <a class="navbar-brand" asp-controller="Client" asp-action="Index">Мини-Маркет</a>
        <a class="navbar-brand" asp-action="Create">Добавить</a>
    </div>
    <div class="panel-body">

        <h2>Товары</h2>
        <form asp-action="Index" asp-controller="Home">
            <select class="form-control" name="fil">
                <option value="All">All</option>
                @foreach (var x in ViewBag.Cate)
                {
                    <option>@x.List.ToString()</option>
                }
            </select>
            <input type="submit" value="Фильтр" />
        </form>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Имя</td>
                    <td>Цена</td>
                    <td>Категория</td>
                </tr>
            </thead>

            @if (Model.Count() == 0)
            {
                <h1 class="text-center">Пусто</h1>

            }
            else
            {
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ProductId</td>
                            <td>@item.Name</td>
                            <td>@item.Price</td>
                            <td>@item.Category.List</td>
                            <td><a asp-action="Edit" asp-controller="Home" asp-route-id="@item.ProductId">Редактировать</a> <a asp-action="Remove" asp-controller="Home" asp-route-id="@item.ProductId">Удалить</a></td>
                        </tr>
                    }
                </tbody>
            }
        </table>
    </div>
</body>
</html>
