@model IEnumerable<HW_26.Models.Product>
@{
    ViewData["Title"] = "ShowDate";
}


<html>
<head>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="panel-body">
        <h2>Товары</h2>
        <table class="table table-striped table-bordered" >
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Имя</td>
                    <td>Цена</td>
                    <td>Категория</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ProductId</td>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td>@item.Category.List</td>
                        <td><a asp-action="Edit" asp-controller="Home" asp-route-id="@item.ProductId">Редактировать</a> <a asp-action="Remove" asp-controller="Home" asp-route-id="@item.ProductId">Удалить</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        @Html.ActionLink("На главную", "Index")
    </div>
</body>
</html>